<div class="row text-center text-lg-left" itemscope itemtype="http://schema.org/ImageGallery">
    {% for row in body %}
        {% for image in row %}
            {% if image.singleSRC|default %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 {{ class|default }}">
                    {% if image.href|default %}
                    <a href="{{ image.href }}" target="_blank">
                        {% endif %}
                        <figure class="image_container">
                            {{ include('@HeimrichHannotContaoUtils/picture.html.twig', image.picture) }}
                            {% if image.caption|default %}
                                <figcaption class="caption">{{ image.caption|raw }}</figcaption>
                            {% endif %}
                        </figure>
                        {% if image.href|default %}
                    </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>