{% extends '@HeimrichHannotTwigTemplates/modules/mod_login_bs4.html.twig' %}

{% block autologin %}
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="autologin">
        <label class="custom-control-label" for="autologin">
            {{ autoLabel }}
        </label>
    </div>
{% endblock %}