{% extends '@ContaoTwigTemplates/block/block_searchable.html.twig' %}

{% block content %}
    <a href="{{ href  }}" title="{{ title  }}" class="btn " role="button" download>{{ link|raw }} <span class="size">({{ filesize }})</span></a>
{% endblock %}
