{% extends '@ContaoTwigTemplates/block/block_searchable_core.html.twig' %}

{% block content %}
    <{{ tag|default('ul') }}>
    {% for item in items %}
        <li{% if item.class|default %} class="{{ item.class }}"{% endif %}>{{ item.content|default }}</li>
    {% endfor %}
    </{{ tag }}>
{% endblock %}
