{% extends '@HeimrichHannotTwigTemplates/block/block_unsearchable.html.twig' %}

{% block content %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ src|default }}" allowfullscreen></iframe>
    </div>
{% endblock %}