
<!-- indexer::stop -->
<div class="{{ class }} block"{{ cssID|default|raw }}{% if style|default() %} style="{{ style }}"{% endif %}>
    {% block headline %}
        {{ include('@HeimrichHannotTwigTemplates/partials/_headline.html.twig') }}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
<!-- indexer::continue -->