
<div class="{{ strPrefix|default() }}{% if class|default %} {{ class }}{% endif %}">
  {% block label %}
  {% endblock %}

  {% block field %}
  {% endblock %}
</div>

<div class="{{ strPrefix|default() }} confirm{% if class|default %} {{ class }}{% endif %}">
  {% block label2 %}
  {% endblock %}

  {% block field2 %}
  {% endblock %}
</div>