
<div class="{{ strPrefix|default() }} {{ class|default }} %}">
  {% block label %}
  {% endblock %}

  {% block field %}
  {% endblock %}
</div>

<div class="{{ strPrefix|default() }} confirm {{ class|default }}">
  {% block label2 %}
  {% endblock %}

  {% block field2 %}
  {% endblock %}
</div>