{% block row %}
    <div class="{{ strPrefix|default() }} {{ class|default }}">

      {% block label %}
      {% endblock %}

      {% block field %}
      {% endblock %}
    </div>
{% endblock %}

{% block sub %}
    {{ arrConfiguration.sub|default|raw }}
{% endblock %}
